:root {
    --bg-accent: #d6f8f8;
    --site-spacing: 0.5rem;
}

.site {
    padding: 1rem;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    height: 100vh;
    grid-gap: 1rem;
    max-width: 100vw;
    overflow-x: hidden;
}

.simple.site {
    padding: 0;
}

.header {
    grid-row: 1 / 2;
    background-color: var(--bg-accent);
    position: sticky;
    top: 0;
    z-index: 40;
}

.title {
    grid-row: 2 / 3;
}

.content {
    grid-row: 3 / 4;
    display: grid;
    grid-template-columns: minmax(0, 1fr) 400px;
    grid-auto-flow: column;
    gap: calc(var(--site-spacing) * 3);
    max-width: 100%;
}

.simple .content {
    grid-template-columns: 1fr;
    grid-row: unset;
}

.simple :is(.description, h2, h3, h4, header, .title) {
    display: none;
}

.simple [alt='Preview'] {
    max-height: 25vh;
    object-fit: contain;
    width: auto;
}

.content .sidebar {
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 94vw;
}

@media only screen and (max-width: 900px) {
    .content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .content > * {
        grid-column: 1 !important;
    }
}

.list-container {
    display: grid;
    grid-gap: var(--site-spacing);
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.list-container * {
    word-wrap: break-word;
    text-overflow: ellipsis;
}

.list-container img {
    object-fit: fill;
    width: 100%;
    max-height: 100%;
}

.footer {
    grid-row: 4 / 5;
}

.bulk-editors button {
    order: 1;
}

.bulk-editors form {
    order: 2;
}

.bulk-editors form.active {
    flex-basis: 100%;
}

.edit-in-list {
    display: none;
}

.list-container .edit-in-list {
    display: inline-block;
}

[x-cloak] {
    display: none !important;
}