.menu {
    list-style: none;
    display: grid;
    gap: var(--spacing);
    grid-template-columns: repeat(auto-fill, minmax(max-content, 1fr));
    place-items: start;
    place-content: start;
    grid-auto-flow: column;
}

.menuItem {
    list-style: none;
    display: inline-grid;
    place-content: center;
    place-items: center;
    height: 2rem;
    padding: var(--spacing);
}